.width {
    width: 77%;
    margin: 0 auto;
    padding-top: 100px;
}

.bgcolor-blue {
    background-color: #043873;
    color: #FFFFFF;
    width: 100vw;
}

.page1 {
    text-align: center;
    background-image: url(./assets/img/toshiya/BACKGROUND.png);
    background-repeat: no-repeat;
    padding-top: 0px;
}

.page1 h2 {
    font-size: 50px;
    padding-top: 140px;
}

.page1 p {
    font-size: 12.5px;
    margin-top: 24px;
}

.page1 button {
    margin-top: 60px;
    margin-bottom: 140px;
}

.button {
    width: 120px;
    height: 40px;
    font-size: 10px;
    background-color: #4F9CF9;
    color: #FFFFFF;
}

.page2 {
    display: flex;
    align-items: center;
}

.page2-heder{
    position: relative;
}

.page2-heder img{
    position: absolute;
top: 45px;
left: 120px;
width: 200px;
height: auto;
}

.page2 h2 {
    font-size: 40px;
}

.page3 h2 {
    text-align: center;
    font-size: 50px;
}

.page3 div {
    display: flex;
    justify-content: space-between;
    font-size: 50%;
}

.other {
    height: 50px;
    width: auto;
}

.page4 {
    background-image: url(./assets/img/toshiya/Element2.png);
}

.page4>div {
    display: flex;
    align-items: center;
}

.page5 h2 {
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

.page5-1 {
    display: flex;
    margin-bottom: 50px;
}

.card1 {
    margin: 0 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.card1 *{
    margin: 10px;
}

.card2 {
    background-color: #4F9CF9;
    margin: 0 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.card2 *{
    margin: 10px;
}

.card3 {
    background-color: #4F9CF9;
    margin: 0 16px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
.card3 *{
    margin: 10px;
}

.page6 {
    text-align: center;
}

.page6 * {
    margin: 15px;
}

.page6 h2 {
    font-size: 50px;
}

.page6 p {
    font-size: 12.5px;
}

.page6 img {
    margin: 0 20px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer1 h3 {
    font-size: 15px;
}

.footer1 p {
    font-size: 10px;
}

.logo{
    display: flex;
}

.footer2 {
    display: flex;
    justify-content: space-between;
}

.footer2 div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer2-1 p {
    font-size: 15px;
    margin-right: 15px;
}

.footer2-2 {
    width: 100px;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
.button{
    width: 200px;
    height: 80px;
    font-size: 20px;
}

    .width {
        width: 90%;
    }

    .page1 {
        background-image: none;
    }

    .page1 h2{
font-size: 60px;
    }

    .page1 p{
font-size: 20px;
    }

    .page2 {
        flex-direction: column;
        text-align: center;
    }

    .page2 p{
        font-size: 20px;
    }

    .page3 div {
        flex-direction: column;
    }

    .other {
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .apple {
        width: 80px;
        margin: 100px auto 50px;
    }

    .page4>div {
        flex-direction: column-reverse;
        text-align: center;
    }

    .page4 h2{
        font-size: 40px;
    }

    .page4 p{
        font-size: 20px;
        margin: 30px auto;
    }

    .page4 img{
        margin: 30px;
    }
    .page5-1 {
        display: block;
    }

    .page6 p {
      font-size: 20px;
    }

    .footer1 {
        display: block;
        text-align: center;
    }

    .footer1 h3 {
        font-size: 30px;
        margin-top: 50px;
    }

    .footer1 p{
        font-size: 20px;
    }

    .footer1>div{
        justify-content: center;
    }

    .logo h2{
        font-size: 30px;
    }
    .logo img{
        width: 200px;
        text-align: center;
    }

    .footer2 {
        display: block;
    }

    .footer2-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .footer2-1 img{
        width: 30%;
        height: auto;
    }
}